<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Przeglądarka plików</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <h1>Przeglądarka plików i katalogów</h1>
    <h2>Aktualna ścieżka: {{ current_path or '/' }}</h2>

    <form method="post">
        <label for="new_dir_name">Nazwa nowego katalogu</label>
        <input type="text" id="new_dir_name" name="new_dir_name" required>
        <button type="submit">Utwórz katalog</button>
    </form>

    <div id="drop-area">
        <p>Przeciągnij i upuść pliki tutaj</p>
    </div>

    <form method="post">
        <ul>
            {% if current_path %}
                <li>
                    <img src="{{ url_for('static', filename='icons/folder.png') }}" alt="Folder">
                    <a href="{{ url_for('index', req_path='/'.join(current_path.split('/')[:-1])) }}">..</a>
                </li>
            {% endif %}
            {% for file in files %}
                <li>
                    <input type="checkbox" name="selected_files" value="{{ file }}">
                    {% if '.' in file %}
                        <img src="{{ url_for('static', filename='icons/file.png') }}" alt="File">
                        <a href="{{ url_for('index', req_path=current_path + '/' + file) }}">{{ file }}</a>
                    {% else %}
                        <img src="{{ url_for('static', filename='icons/folder.png') }}" alt="Folder">
                        <a href="{{ url_for('index', req_path=current_path + '/' + file) }}">{{ file }}/</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>